{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<h2>About</h2>
<p style="text-align:center">Meet Daphane, a 30-year-old coding enthusiast from Northwest Georgia. Certified in HTML and CSS, Daphane is passionate about continuously learning new programming languages and practices to stay ahead in the ever-evolving tech world. With an insatiable curiosity and drive for self-improvement, Daphane finds joy in solving complex coding problems and creating innovative web solutions. Currently, Daphane is a student at San Diego Global Knowledge University, enrolled in their Full Stack Development Immersive Course, aiming to graduate in late May 2025. After that, Daphane plans to enroll in their Full Stack Development Degree course to add a degree along with their certification.</p>

<p style="text-align:center">Beyond the realm of coding, Daphane has a diverse range of hobbies. Rockhounding and rock collecting are some of their favorite pastimes, leading to an impressive collection of unique geological specimens. Additionally, Daphane enjoys making macramé wall hangings and dreamcatchers, as well as engaging in DIY projects to craft furniture like bookcases and shelves. These creative outlets provide a perfect balance to Daphane's technical pursuits, allowing them to unwind and express their artistic side.</p>

<p style="text-align:center">In June 2024, Daphane took their love for rocks and minerals to the next level by opening an online crystal shop. As a small business owner, Daphane now sells various types of crystals, mineral gemstone jewelry, and metaphysical items. Their shop has become a go-to destination for crystal enthusiasts seeking beautiful and meaningful pieces to add to their collections. Balancing their studies, hobbies, and business endeavors, Daphane exemplifies dedication and passion in every aspect of their life.</p>
<hr>
{% endblock content %}